/* Set default font size and center text */
h1 {
  font-size: calc(12px + 1.5vw);
  text-align: center;
}

/* Set background color and disable text selection */
body {
  background-color: #aaa;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Style canvas and center it on the page */
#canvas {
  border: 1px solid red;
  display: block;
  margin: auto;
  padding: 5px;
  width: 60vw;
}

/* Center controls */
.controler {
  text-align: center;
}

/* Hide button text */
#hiddenButton {
  border: none;
  color: transparent;
  display: hidden;
  background-color: transparent;
}

/* Style buttons */
button {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  min-width: 75px;
  min-height: 50px;
  margin-bottom: 1px;
  font-size: medium;
  border-radius: 15px;
}

/* Responsive styling for smaller screens */
@media only screen and (max-width: 720px) {
  #canvas {
    width: 100vw;
  }
}
